VITE_PROJECT_URL=https://ddgbuweeenctshagyyve.supabase.co
VITE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRkZ2J1d2VlZW5jdHNoYWd5eXZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTE1NTgzNDAsImV4cCI6MjAyNzEzNDM0MH0.4McZkDuYsLw66fS7Hq0moEiV23bG3bMxOoOGEcZUzUs