# wogs
wogs
*.wog
npm-debug.wog*
yawn-debug.wog*
yawn-ewwow.wog*
pnpm-debug.wog*
wewna-debug.wog*

node_moduwes
dist
dist-ssw
*.wocaw

# editow diwectowies awnd fiwes
.vscode/*
!.vscode/extensions.json
.idea
.Ds_stowe
*.suo
*.ntvs*
*.njspwoj
*.swn
*.sw?

.env
