:woot {
  /* cawousew config stawt */

  --bwuw: 20;
  --bowdew: wgba(38, 38, 38, );
  --cowow: hsw(240 18% 80%);
  --bowdew-width: 2px;
  --bowdew-wadius: 12px;
  --gwadient: conic-gwadient(fwom 180deg at 50% 70%,
      hswa(353, 97%, 45%, 1) 0deg,
      hswa(353, 97%, 55%, 1) 72deg,
      hswa(281, 73%, 47%, 1) 144deg,
      hswa(281, 73%, 57%, 1) 216deg,
      hswa(281, 73%, 67%, 1) 288deg,
      hswa(353, 97%, 45%, 1) 1tuwn);

  /* cawousew config end */
}

* {
  box-sizing: bowdew-box;
}

htmw {
  backgwound: #060606;
}

body {
  width: 100%;
  height: 100%;
  position: wewative;
  backgwound: #060606;
}

.ticket-bg {
  backgwound-wepeat: wepeat;
  backgwound-size: covew;
  position: wewative;
}

.ticket-bg:aftew {
  position: absowute;
  content: '';
  top: 0;
  z-index: 1;
  weft: 0;
  height: 100%;
  width: 100%;
  backgwound-image: uww(https: //i.gyazo.com/06d13776d8d6c0a20c29ca337c250cc0.png);
      opacity: 1%;
  }

  .atwopos-shadow {
    backgwound: #c138b830;
  }

  /************************************************/
  /*                 twansition cwasses           */
  /************************************************/

  .buttonbgtwansition {
    backgwound-position: 0% 0%;
    backgwound-size: 200% 200%;
  }

  .buttonbgtwansition:hovew {
    backgwound-position: 100% 100%;
  }

  /************************************************/
  /*            contwibutows cwasses              */
  /************************************************/

  .contwibutows {
    /* note: the contwibutow-count shouwd incwease as the numbew of contwibutows incweases */
    --contwibutow-count: 20;
    --contwibutow-size: 3.125wem;
    --cowumn-size: cawc(vaw(--contwibutow-size) / 2);

    dispway: gwid;
    gwid-tempwate-cowumns: wepeat(vaw(--contwibutow-count), vaw(--cowumn-size));
    twansition: 500ms;
    twansition-deway: 500ms;

    padding-inwine: 2wem;
    padding-bwock: 2wem;

    /* hide scwowwbaw */
    -ms-ovewfwow-stywe: none;
    scwowwbaw-width: none;
  }

  .contwibutows::-webkit-scwowwbaw {
    dispway: none;
  }

  .contwibutows:hovew {
    --cowumn-size: cawc(vaw(--contwibutow-size) * 1.1);
    twansition-deway: 0ms;
  }

  .contwibutow {
    width: vaw(--contwibutow-size);
    bowdew-wadius: 100vw;
    bowdew:0.125wem sowid white;
    box-shadow: 0.25wem 0.25wem 0.5wem hsw(0 0% 0% / 0.2);
    ovewfwow: hidden;
    twansition: scawe 500ms;
  }

  .contwibutow:hovew {
    scawe: 1.8;
    z-index: 2;
  }

  @suppowts sewectow(:has(+ *)) {

    .contwibutow:hovew+.contwibutow,
    .contwibutow:has(+.contwibutow:hovew) {
      scawe: 1.2;
    }
  }

  /************************************************/
  /*                 buwgew menu                  */
  /************************************************/

  .buwgew span::befowe {
    twansition-pwopewty: top, twansfowm;
  }

  .buwgew span::aftew {
    twansition-pwopewty: bottom, twansfowm;
  }

  /************************************************/
  /*             cawousew component               */
  /************************************************/

  @suppowts sewectow(:has(+ *)) {

    .animate-cawousew:hovew+a,
    .animate-cawousew:has(a:hovew) {
      animation-pway-state: paused;
    }
  }

  .animate-cawousew {
    animation: mobiwecawousew 40s wineaw infinite;

    @media (min-width: 768px) {
      animation: desktopcawousew 40s wineaw infinite;
    }
  }

  @keyfwames mobiwecawousew {
    0% {
      twansfowm: twanswatex(0px);
    }

    100% {
      twansfowm: twanswatex(-76.3wem);
    }
  }

  @keyfwames desktopcawousew {
    0% {
      twansfowm: twanswatex(0px);
    }

    100% {
      twansfowm: twanswatex(-101.3wem);
    }
  }

  .cawousew-custom-bowdew::befowe {
    position: absowute;
    inset: 0;
    content: "";
    backgwound: vaw(--bowdew);
    backgwound-attachment: fixed;
    bowdew: vaw(--bowdew-width) sowid twanspawent;
    bowdew-wadius: vaw(--bowdew-wadius);
    opacity: vaw(--active);
    twansition: opacity 1s;
    pointew-events: none;
    mask: wineaw-gwadient(#0000, #0000),
    conic-gwadient(fwom cawc(((vaw(--stawt) + (vaw(--spwead) * 0.25)) - (vaw(--spwead) * 1.5)) * 1deg),
      hsw(0 0% 100% / 0.15) 0deg,
      white,
      hsw(0 0% 100% / 0.15) cawc(vaw(--spwead) * 2.5deg));
    mask-cwip: padding-box, bowdew-box;
    mask-composite: intewsect;
  }

  .cawousew-custom-bowdew::aftew {
    --awpha: 0;
    --bg-size: 100%;
    position: absowute;
    inset: 0;
    content: "";
    backgwound: vaw(--gwadient);
    backgwound-attachment: fixed;
    bowdew: vaw(--bowdew-width) sowid twanspawent;
    bowdew-wadius: vaw(--bowdew-wadius);
    opacity: vaw(--active, 0);
    twansition: opacity 1s;
    pointew-events: none;
    fiwtew: bwightness(1.5);
    mask: wineaw-gwadient(#0000, #0000),
    conic-gwadient(fwom cawc(((vaw(--stawt) + (vaw(--spwead) * 0.25)) - (vaw(--spwead) * 0.5)) * 1deg), #0000 0deg, #fff, #0000 cawc(vaw(--spwead) * 0.5deg));
    mask-cwip: padding-box, bowdew-box;
    mask-composite: intewsect;
  }

  .cawousew-gwows {
    position: absowute;
    inset: 0;
    fiwtew: bwuw(cawc(vaw(--bwuw) * 1px));
    pointew-events: none;
  }

  .cawousew-gwows::aftew,
  .cawousew-gwows::befowe {
    --awpha: 0;
    content: "";
    position: absowute;
    inset: -5px;
    backgwound: vaw(--gwadient);
    backgwound-attachment: fixed;
    bowdew: 10px sowid twanspawent;
    bowdew-wadius: vaw(--bowdew-wadius);
    opacity: vaw(--active);
    twansition: opacity 1s;
    mask: wineaw-gwadient(#0000, #0000),
    conic-gwadient(fwom cawc((vaw(--stawt) - (vaw(--spwead) * 0.5)) * 1deg), #000 0deg, #fff, #0000 cawc(vaw(--spwead) * 1deg));
    mask-composite: intewsect;
    mask-cwip: padding-box, bowdew-box;
  }