* {
  box-sizing: border-box;
}

html {
  background: #060606;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background: #060606;
}

.ticket-bg {
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}

.ticket-bg:after {
  position: absolute;
  content: '';
  top: 0;
  z-index: 1;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://i.gyazo.com/06d13776d8d6c0a20c29ca337c250cc0.png);
  opacity: 1%;
}
